@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "poppins", sans-serif ;
}

.container { 
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #dae5e8;
    display: flex;
}

.form-container {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

.signup-signin {
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.6%;
    margin-left: 1%;
}

.sign-up-form {
    margin-top: 15px;
}

.title {
    font-size: 2.2rem;
    color:#2e3237;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #6869622d;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0.4rem;
}

.input-field {
    text-align: center;
    align-items: center;
    line-height: 55px;
    color: #686962bb;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #2e3237;
}

.input-field input::placeholder{
    color: #686962;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #dae5e8;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.btn:hover {
    background-color: #3964af;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
}